# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. 
 
# https://github.com/AlphaWong/
[user]
  name = alpha.wong
  email = hey.alpha@pm.me
[alias]
  aa = add -A
  ca = commit -a
  cm = commit -m
  ci = commit --interactive
  co = checkout
  fo = fetch
  st = !git status && echo && git l origin..HEAD
  ls = ls-files --stage --abbrev
  up = remote update
  info = show-ref -h
  # d = whatchanged -p
  l = log --graph --oneline --all --decorate
  ll = log --all --decorate --oneline --graph
  tt = log --all --decorate --oneline --graph
  lg = log --graph --decorate --pretty=oneline --all
  b = branch -av
  t = tag -n
  who = shortlog -s --
  graph = log --graph --oneline --all --decorate
  f = !git fetch --all --tags --verbose && git remote --verbose update --prune
  r = rebase -i HEAD~10
  stat = log --oneline --shortstat
  # e.g. git track v2.0.0 kites/v2.0.0
  track = checkout --track -b
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  fix = commit --fixup
  ria = rebase -i --autosquash

  s = status -sb
  a = add
  d = diff --word-diff

[apply]
  whitespace = strip

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[branch "master"]
  remote = origin
  merge = refs/heads/master

[push]
  default = current
[core]
  editor = vim
  excludesfile = /Users/$(whoami)/.gitignore_global
  trustExitCode = true
  pager = diff-so-fancy | less --tabs=4 -RFX
  ignorecase = false
[commit]
  template = /Users/$whoami/.stCommitMsg
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
